//fonts
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

//color variables
$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$mainBG: hsl(217, 54%, 11%);
$cardBG: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  background-color: $mainBG;
  color: $softBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
article {
  max-width: 350px;
  min-height: 596px;
  padding: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: $cardBG;
  box-shadow: 0 30px 5px 16px hsla(0, 0%, 0%, 0.05),
    0 30px 5px 50px hsla(0, 0%, 0%, 0.05);
  h1 {
    color: $white;
    font-weight: 600;
    font-size: 1.35rem;
  }
  .nft-image {
    background-image: url("images/image-equilibrium.jpg");
    background-size: cover;
    aspect-ratio: 1;
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .nft-view {
      opacity: 0;
    }
    .nft-view::after {
      opacity: 0;
      z-index: -1;
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba($cyan, 0.3);
    }
    img {
      width: 48px;
      height: auto;
    }    
  }
  .nft-image:hover {
    .nft-view {
      opacity: 1;
      transition: 500ms;
    }
    .nft-view::after {
      opacity: 1;
      transition: 500ms;
    }
  }
  a {
    text-decoration: none;
    color: $white;
  }
  a:hover {
    color: $cyan;
    transition: 500ms;
  }
  .nft-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
  }
  .nft-price-time {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    img {
      max-height: 18px;
      width: auto;
      height: auto;
      margin-right: 5px;
    }
  }
  .nft-price {
    color: $cyan;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
  .remaining-time {
    display: flex;
    align-items: center;
  }
  .author {
    display: flex;
    align-items: center;
  }
  .avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: 1px solid $white;
    background-image: url("images/image-avatar.png");
    background-size: cover;
  }
  .creator {
    font-weight: 300;
    font-size: 1rem;
    margin-left: 20px;
  }
  hr {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: $line;
  }
}
footer {
  padding: 10px;
  text-align: center;
  font-size: 0.8rem;
  p {
    color: $softBlue;
    margin: 3px;
  }
  i {
    font-size: 0.9rem;
  }
  a {
    color: $softBlue;
  }
  a:hover {
    color: $cyan;
    transition: 700ms;
  }
}
